/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    gap: 20px; 
       
}

.flex-item{
    display: flex;
}

img{
    width: 300px;
}